@media only screen and (max-width: 1920px) {
    .banner .swiper-slide h2 {
        margin-top: -107px;
    }

    .banner .swiper-slide {
        margin-top: 1px;
    }

    footer .top-footer::before {
        width: 30%;
    }

    footer .bottom-footer li::after {
        right: -58px;
    }
}


@media only screen and (max-width: 1440px) {
    .banner .swiper-slide h2 {
        margin-top: -41px;
    }

    footer .top-footer::before {
        width: 37%;
    }

    footer .bottom-footer li::after {
        right: -10px;
    }
}



@media only screen and (max-width: 1366px) {
    .banner .swiper-slide h2 {
        margin-top: -41px;
    }

    .banner .swiper-slide {
        margin-top: 0;
    }
    footer .bottom-footer li {
    font-size: 13px;
}

footer .bottom-footer a {
    font-size: 13px;
}
}


@media only screen and (max-width: 1200px) {
    .banner .swiper-slide::after {
        top: -3px;
    }

    .contact p {
        font-size: 16px;
    }

    footer .top-footer .contact a {
        margin-left: 1px;
    }

    .bottom-footer ul {
        flex-wrap: wrap;
        justify-content: center !important;
        column-gap: 18px;
    }

    footer .bottom-footer li::after {
        right: -10px;
    }

    footer .top-footer {
        padding: 53px 111px 23px;
    }

    .bottom-footer .mt-5 {
        margin-top: 2rem !important;
    }

    footer h5 {
        font-size: 18px;
    }

    footer ul li a {
        font-size: 11px;
    }

    footer .top-footer .contact p {
        font-size: 14px;
    }

    footer .top-footer .social i {
        font-size: 25px;
    }

    footer .top-footer::after {
        left: -8px;
    }

    footer .top-footer .social {
        left: 6px;
        top: 1px;
    }

    header .btn-button {
        padding: 12px 26px 13px;
    }

    .banner .swiper-slide .box2 p {
        width: 42%;
    }
}


@media only screen and (max-width: 1024px){
  .banner .swiper-slide h2 {
    font-size: 68px;
}
.banner .swiper-slide::after {
    left: -2px;
}
.banner .swiper-slide .box2 {
    margin-left: 29px;
}
p {
    font-size: 16px;
   
}
.banner .swiper-slide .text {
    top: 130px;
    width: 48%;
    left: 195px;
}
.banner .box2 nav img {
    width: 69px;
    height: 54px;
    object-fit: contain;
}
h1,h2 {
    font-size: 55px;
}
.action .box {
    height: 100%;
}
.solution h2 {
    font-size: 39px;
}
h5 {
    font-size: 15px;
}
footer .top-footer .contact p {
    font-size: 12px;
}
header .right-sidebar {
    gap: 10px;
}
header .btn-button {
    padding: 12px 19px 13px;
}
header .stellarnav > ul > li > a {
    padding: 20px 2px;
    font-size: 13px;
}
.banner {
    margin-top: 49px;
}
}

@media only screen and (max-width: 991px) {
    .stellarnav.mobile.right>ul {
        right: 0;
        z-index: 99;
        background-color: #000;
    }
    .stellarnav .icon-close:after, .stellarnav .icon-close:before {

    border-bottom: solid 3px #fff;
   
}

    .header-content {
        position: relative;
    }

    header .header-content .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header .right-sidebar {
        justify-content: end;
    }

    .banner .swiper-slide h2 {
        margin-top: 0;
    }

    .banner .swiper-slide .text {
    position: static;
    width: 100%;
}

    .banner .swiper-slide::after {
        position: static;
    }

    .banner .swiper-slide .row {
        flex-direction: column;
    }

    .banner .swiper-slide .col-md-8,
    .banner .swiper-slide .col-md-4 {
        width: 100%;
    }

    .banner .swiper-slide .banner-image {
        width: 100%;
    }

    h2 {
        font-size: 48px;
    }

    .companies .creative_panel li {
        width: 50%;
        flex: 0 0 50%;
    }

    .creative_panel ul {
        flex-wrap: wrap;
    }
    .stellarnav .menu-toggle span.bars span {
    display: block;
    width: 34px;
    height: 6px;
    border-radius: 6px;
    background: #fff;
    margin: 0 0 6px;
}
.banner .box1 {
    text-align: center;
}
.banner .box1 h2{
    color: #fff;
    background: transparent;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
}
.banner .col-md-8 {
    height: 100%;
}
.banner .swiper-slide .box2 {
    margin-left: 0;
    flex-direction: column;
    justify-content: center !important;
}
.banner .swiper-slide .box2 nav, .banner .swiper-slide .box2 div{
    text-align: center;
}
.banner .swiper-slide .box2 p {
    width: 100%;
    text-align: center;
    padding: 0 65px;
}
.banner .box2 nav img {
    width: auto;
    height: auto;
   
}
h1, h2 {
    font-size: 36px;
}
.video .box h3 {
    font-size: 54px;
    margin-bottom: 33px;
}

.video .box-2 h4 {
    font-size: 60px;
}
.solution .wrap {
    gap: 33px;
    flex-direction: column;
}
.solution .wrap p{
    text-align: center !important;
}
.solution .wrap img {
    height: 100%;
}
.p-v-100 {
    padding: 40px 0;
}
.technology  .col-lg-5 img{
    width: 100%;
}
.technology  .col-lg-7 .text-end{
   text-align:  center!important;
   margin-top: 10px;
}
footer .footer-logo img {
    width: 30%;
}
.home-news  .swiper-button-next, .home-news  .swiper-button-prev {
    background: #fff;
    width: 69px;
    height: 73px;
}
.home-solution  .swiper-button-next, .home-solution  .swiper-button-prev {
    background: #fff;
    width: 69px;
    height: 73px;
}
.home-news .swiper-button-next, .home-news  .swiper-button-prev {
   color: #000;
}
.home-solution  .swiper-button-next, .home-solution   .swiper-button-prev {
   color: #000;
}
.companies .creative_panel ul:hover li:hover {
    width: 50%;
    flex: 0 0 50%;
}

}


@media only screen and (max-width: 820px){
.stellarnav .menu-toggle span.bars span {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 0 0 6px;
}
h5 {
    font-size: 14px;
}
.p-v-80 {
    padding: 26px 0;
}
.banner .swiper-slide h2 {
    font-size: 49px;
}
.video .box h3 {
    font-size: 37px;
    margin-bottom: 20px;
}
.solution h2 {
    font-size: 36px;
    text-align: center;
} 
.heading {
    font-size: 48px;  
}  
.video .box-2 h4 {
    font-size: 44px;
}
}